.card__img {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  padding: 12px 0 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: relative;
  top: 10px;
}

.card__like-btn {
  background-image: url("../images/like-icon-dark.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  opacity: 0.4;
  margin: 12px 0 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url("../images/like-active.svg");
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__img {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 100%;
    max-width: 250px;
  }
}
