.modal {
  padding: 10px;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  opacity: 40%;
  background-image: url(../images/modalX.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
  gap: 8px;
  color: rgba(33, 33, 33, 0.7);
}

.profile-name-input {
  padding: 16px;
  border: 1px solid #212121;
  opacity: 40%;
  border-radius: 8px;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: #2121214d;
  font-weight: 500;
  font-size: 20px;
}

.modal__input:focus {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
}

.modal .modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  background-color: #212121;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.modal .modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__title {
    font-size: 20px;
    margin: 22px 0 34px;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__input,
  .modal__input:focus {
    font-size: 16px;
  }

  .modal__close-btn {
    position: absolute;
    top: 12px;
    right: 10px;
  }
  .modal .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}
