.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
}

.profile__description {
  margin: 0;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 149px;
  height: 52px;
  padding: 0px 24px;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__edit-btn {
  margin-top: auto;
  /* display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: auto;
  border: none;
  background-color: transparent;
  width: 107.34px;
  height: 16px;
  gap: 8px;
  font-weight: 500;
  line-height: 1;
  opacity: 70%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  padding: 0; */
}

/* .profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
} */

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }
  .profile__description {
    margin: 0 0 32px;
  }
  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
